<% @ideas.each do |idea| %>
<div>
    <h2><%= link_to(idea.title, idea_path(idea.id)) %></h2>
    <p><%= idea.description %></p>
    <p>Posted by <%= idea.user.full_name %> <%= time_ago_in_words(idea.created_at) %> ago</p>
</div>
<% end %>